In [11]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [12]:
data = {
    'Weight': [79, 69, 73, 95, 82, 55, 69, 71, 64, 69],
    'Height': [1.80, 1.68, 1.82, 1.70, 1.87, 1.55, 1.50, 1.78, 1.67, 1.64],
    'Age': [35, None, 25, 60, 27, 18, 89, 42, 16, 52],
    'Gender': ['Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female']
}

df = pd.DataFrame(data)
df

   Weight  Height   Age  Gender
0      79    1.80  35.0    Male
1      69    1.68   NaN    Male
2      73    1.82  25.0    Male
3      95    1.70  60.0    Male
4      82    1.87  27.0    Male
5      55    1.55  18.0  Female
6      69    1.50  89.0  Female
7      71    1.78  42.0  Female
8      64    1.67  16.0  Female
9      69    1.64  52.0  Female

In [13]:
imputer = SimpleImputer(strategy='mean')
df['Age'] = imputer.fit_transform(df[['Age']])

In [14]:
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])

In [15]:
X = df[['Height', 'Age', 'Gender']]
y = df['Weight']

In [16]:
print("Intercept:", model.intercept_)
print("Coefficients:", model.coef_)

Intercept: -24.860080989488807
Coefficients: [47.70559867  0.29482411  8.77772066]

In [17]:
import pandas as pd

new_data = pd.DataFrame([[1.75, 30, 1]], columns=['Height', 'Age', 'Gender'])
predicted_weight = model.predict(new_data)

print("Predicted Weight:", predicted_weight[0])

Predicted Weight: 76.24716063335573